{% extends "base.html" %}
{% block title %}{% endblock %}
{% block top %}

{% endblock %}

{% block content %}
<br>
<div class="center">
    <div id="home">
        <div id="img_filename">img</div>
        <div id="img"></div>

        <select id="label" method="GET" action="/">
            {% for label in LABELS %}
                <option value="{{label}}" SELECTED>{{label}}</option>"
            {% endfor %}
        </select>

        <button type="button" class="btn btn-secondary"
            onclick="submitAnswer()">Submit answer
        </button>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript"
        src="{{url_for('static', filename='main.js')}}"></script>
{% endblock %}